.hotel {
	padding: 22px 0 70px 0;
	&-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0 20px 0;

		&__stars {
			& .icon {
				width: 8px;
				height: 8px;
				fill: #f2994a;
			}
		}

		&__offer {
			margin: 4px 0 0 14px;
		}

		&__name {
			margin: 4px 0 0 0;
		}
	}
	&-grid {
		display: flex;
		justify-content: space-between;
	}
	&-right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.stars {
		flex-basis: 100%;
	}
	&-name {
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		text-transform: uppercase;
	}
	.offer {
		font-weight: 600;
		font-size: 10px;
		line-height: 13px;
		background: #ec1f46;
		border-radius: 3px;
		padding: 4px 9px;
		color: $light;
	}
	.discription {
		font-size: 12px;
		line-height: 15px;
	}
	.rating {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: $primary;
		border-radius: 4px;
		padding: 8px 7px;
		color: $light;
		&__text {
			font-weight: 600;
			font-size: 8px;
			line-height: 10px;
		}

		&__counter {
			font-weight: bold;
			font-size: 14px;
			line-height: 18px;
			margin: 2px 0 0 0;
		}
	}
}
.swiper {
	position: relative;
	width: 100%;
	height: 450px;
	border-radius: 8px;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
		z-index: 10;
	}
}
.slider {
	width: 728px;
	&-button {
		position: absolute;
		top: 50%;
		z-index: 99;
		transform: translateY(-50%);
		width: 30px;
		height: 30px;
		background: transparent;
		cursor: pointer;
		& .icon {
			width: 30px;
			height: 30px;
			fill: $light;
		}
		&__next {
			right: 18px;
		}
		&__prev {
			left: 18px;
		}
	}
	& .swiper-slide {
		&__img {
			width: 100%;
		}
	}
}
.booking {
	width: 350px;
	min-height: 210px;
	padding: 28px;
	background: $dark;
	border-radius: 8px;
	color: $light;
	font-family: "Nunito";
	&__info {
		display: flex;
		justify-content: space-between;
		margin: 0 0 9px 0;
	}

	&__button {
		width: 100%;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		padding: 13px 0;
	}

	&__price {
		display: flex;
		flex-direction: column;
	}
	&__start {
		font-size: 10px;
		line-height: 14px;
	}

	&__pricetag {
		font-weight: 800;
		font-size: 24px;
		line-height: 33px;
	}

	&__per-rom {
		font-size: 12px;
		line-height: 16px;
	}
	&__room {
		margin: 4px 0 0 0;
	}
	&__text {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-width: 80px;
		font-size: 12px;
		line-height: 16px;
		margin: 0 0 8px 0;
		&:last-child {
			margin: 0;
		}
		& .icon {
			width: 14px;
			height: 14px;
			fill: $light;
		}
	}

	&__description {
	}
	.call-center {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 17px 0;
		&__text {
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
		}

		&__number {
			color: $light;
			& .icon {
				width: 14px;
				height: 14px;
				fill: $light;
				margin: 0 8px 0 0;
			}
		}

		&__num {
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
		}
	}
}
.map {
	width: 347px;
	height: 213px;
	border-radius: 10px;
	overflow: hidden;
}
